@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== Colors ==========*/
/*========== Font and typo ==========*/
/*==========Font weight========== */
/*  ==========Margins ========== */
/*========== zIndex ==========*/
/*=======DEFAULT SETTINGS============*/
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins";
  margin: 0 0 3rem 0;
  padding: 0;
  font-size: 0.938rem;
  background-color: #fcfcfc;
  color: #403a3a;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  font-size: 1.1rem;
}

h1,
h2,
h3 {
  color: #0b0a0a;
  font-weight: 500;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black !important;
}

img {
  width: 28%;
}

/* CLASS CSS */
.section {
  font-size: 1rem;
  padding: 1.5rem 0;
}

.section-title {
  padding-top: 48px;
  font-size: 1.1rem;
  color: #0b0a0a;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.bx-cake {
  color: black;
}

/* ==========LAYOUT========== */
.bd-container {
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fcfcfc;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* ==========NAV========== */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: #fcfcfc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: 100;
    transition: 0.3s;
  }
}
.nav__logo,
.nav__toggle {
  color: #0b0a0a;
  font-weight: 500;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: 0.813rem;
  color: #707070;
  font-weight: 500;
}
.nav__link:hover {
  color: #0b0a0a;
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* =========SHOW MENU========= */
.show-menu {
  bottom: 3rem;
}

.active-link {
  color: #0b0a0a;
}

.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  color: #0b0a0a;
  font-weight: 600;
  font-size: 15px;
  gap: 0.5rem;
}

.home__img {
  margin-left: 16.375rem;
  width: 48px;
  margin-bottom: -2.5rem;
}

.home__title {
  font-size: 1.5rem;
}

.home__profession {
  font-size: 0.938rem;
  margin-bottom: 0.5rem;
}

.home__address {
  gap: 1rem;
  font-size: 1rem;
}

.home__info {
  display: flex;
  align-items: center;
  font-size: 0.875 rem;
}

.home__icon {
  font-size: 1.7rem;
  margin-right: 0.25rem;
}

.home__button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #403a3a;
  color: #0b0a0a;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1.5rem;
}
.home__button:hover {
  background-color: #403a3a;
  color: #fafafa;
}

.education__content,
.exp__content {
  display: flex;
}

.education__time,
.exp__time {
  padding-right: 1rem;
}

.education__rounder,
.exp__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #707070;
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education__line,
.exp__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: #707070;
  transform: translate(7px, 0);
}

.education__data,
.exp__data {
  gap: 0.5rem;
}

.education__title,
.exp__title {
  font-size: 1.2rem;
  padding: 14px 0px;
}

.education__studies,
.exp__company {
  font-size: 0.875 rem;
  color: #0b0a0a;
}

.education__year {
  font-size: 0.813rem;
}

.profile__description {
  text-align: justify;
}

.exp__description {
  text-align: left;
}

.skills__content,
.lang__content {
  grid-template-columns: repeat(2, 1fr);
}

.lang__content {
  gap: 0;
}

.skills__name,
.lang__name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.skills-circle,
.lang__circle {
  display: inline-block;
  width: 5px;
  background-color: #403a3a;
  height: 5px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.cert__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.inter__container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}

.inter__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inter__icon {
  font-size: 1.5rem;
  color: #707070;
  margin-bottom: 0.25rem;
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -19%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: #f0efef;
  border: radius 0.4rem;
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop .top {
  font-size: 1.2rem;
  color: #403a3a;
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

.created {
  flex-direction: row-reverse;
  display: flex;
}

.group {
  display: flex;
  justify-content: inherit;
  align-items: baseline;
}

@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem, 0.5rem;
  }
}
@media screen and (min-width: 968px) {
  body {
    margin: 1rem 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
.scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #fafafa;
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .resume__left {
    background-color: #f0efef;
  }

  .resume__left,
.resume__right {
    padding: 0 1.5rem;
  }

  .section-title,
.profile__description {
    text-align: justify;
  }

  .home-container {
    gap: 1.5rem;
  }

  .home__button {
    display: none;
  }

  .lang__content {
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }

  .inter__container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}/*# sourceMappingURL=main.css.map */